<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Employee Management System</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- CSS Code -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>
	<body>
		<div class="layout-wrapper inner-wrapper">
			<div class="container">
				<a href="https://hemrajinfocom.com/"><img src="images/logo.png" alt="Logo" class="logo"></a>
				<div class="details-holder">
					<h3>Employee Menu</h3>
					<ul>
						<li><a href="attendanceRegister">Daily Register</a></li>
						<li class="active"><a href="attendances">Attendance history</a></li>
						<li><a href="leave-application.html">Leave application</a></li>
						<li><a href="contact-admin.html">Contact admin</a></li>
						<li><a href="profile">My profile</a></li>
						<li><a href="logout">Logout</a></li>
					</ul>
					<h3 class="mrgn-tp30">Attendance History</h3>
					<form class="filter">
						<!--
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<span>From:</span>
									<div class="col-sm-6">
										 <select class="month">
										  <option value="">Jan</option>
										  <option value="">Feb</option>
										  <option value="">Mar</option>
										  <option value="">Apr</option>
										  <option value="">May</option>
										  <option value="">Jun</option>
										  <option value="">Jul</option>
										  <option value="">Aug</option>
										  <option value="">Sep</option>
										  <option value="">Oct</option>
										  <option value="">Nov</option>
										  <option value="">Dec</option>
										</select> 
									</div>
									<div class="col-sm-6">
										<select class="year">
										  <option value="">2018</option>
										  <option value="">2019</option>
										  <option value="">2020</option>
										  <option value="">2021</option>
										  <option value="">2022</option>
										  <option value="">2023</option>
										  <option value="">2024</option>
										  <option value="">2025</option>
										  <option value="">2026</option>
										  <option value="">2027</option>
										  <option value="">2028</option>
										  <option value="">2029</option>
										  <option value="">2030</option>
										</select> 
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<span>To:</span>
									<div class="col-sm-6">
										 <select class="month">
										  <option value="">Jan</option>
										  <option value="">Feb</option>
										  <option value="">Mar</option>
										  <option value="">Apr</option>
										  <option value="">May</option>
										  <option value="">Jun</option>
										  <option value="">Jul</option>
										  <option value="">Aug</option>
										  <option value="">Sep</option>
										  <option value="">Oct</option>
										  <option value="">Nov</option>
										  <option value="">Dec</option>
										</select> 
									</div>
									<div class="col-sm-6">
										<select class="year">
										  <option value="">2018</option>
										  <option value="">2019</option>
										  <option value="">2020</option>
										  <option value="">2021</option>
										  <option value="">2022</option>
										  <option value="">2023</option>
										  <option value="">2024</option>
										  <option value="">2025</option>
										  <option value="">2026</option>
										  <option value="">2027</option>
										  <option value="">2028</option>
										  <option value="">2029</option>
										  <option value="">2030</option>
										</select> 
									</div>
								</div>
							</div>
							<button class="sbmt-btn">Submit</button>
						</div>
						-->
					</form>
					<div class="table-details table-responsive">
					<table class="table">
					    <thead>
					      <tr>
							  <td><h4>Working Date</h4></td>
							  <td><h4>In Time</h4></td>
							  <td><h4>Break Total Time</h4></td>
							  <td><h4>Out Time</h4></td>
							  <td><h4>Total Time</h4></td>
							  <td><h4>Working Time</h4></td>
					      </tr>
						  <tr th:each="attendance : ${attendances}">
							  <td><h5 th:text="${attendance.workingDate}"></h5></td>
							  <td><h5 th:text="${attendance.inTime}"></h5></td>
							  <td><h5 th:text="${attendance.breakTotaltime}"></h5></td>
							  <td><h5 th:text="${attendance.outTime}"></h5></td>
							  <td><h5 th:text="${attendance.totalTime}"></h5></td>
							  <td><h5 th:text="${attendance.workingTime}"></h5></td>
						  </tr>
					    </thead>
					    <tbody>
					    <!--
					    <tr>
					    	<td>1.</td>
					    	<td>05.03.2019</td>
					    	<td>10.00 A.M</td>
					    	<td>7.00 P.M</td>
					    	<td>9 hrs</td>
					    </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td><b>Break Start</b></td>
					        <td><b>Break Close</b></td>
					        <td><b>Duration</b></td>
					        <td><b>Reason</b></td>
					      </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td>11.30 A.M</td>
					        <td>12.30 P.M</td>
					        <td>1 hr</td>
					        <td>Lunch</td>
					      </tr>
					    <tr>
					    	<td>2.</td>
					    	<td>06.03.2019</td>
					    	<td>10.04 A.M</td>
					    	<td>7.00 P.M</td>
					    	<td>9 hrs</td>
					    </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td><b>Break Start</b></td>
					        <td><b>Break Close</b></td>
					        <td><b>Duration</b></td>
					        <td><b>Reason</b></td>
					      </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td>11.30 A.M</td>
					        <td>12.30 P.M</td>
					        <td>1 hr</td>
					        <td>Lunch</td>
					      </tr>
					    <tr>
					    	<td>3.</td>
					    	<td>07.03.2019</td>
					    	<td>10.04 A.M</td>
					    	<td>7.00 P.M</td>
					    	<td>9 hrs</td>
					    </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td><b>Break Start</b></td>
					        <td><b>Break Close</b></td>
					        <td><b>Duration</b></td>
					        <td><b>Reason</b></td>
					      </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td>11.30 A.M</td>
					        <td>12.30 P.M</td>
					        <td>1 hr</td>
					        <td>Lunch</td>
					      </tr>
					    <tr>
					    	<td>4.</td>
					    	<td>08.03.2019</td>
					    	<td>10.10 A.M</td>
					    	<td>7.00 P.M</td>
					    	<td>9 hrs</td>
					    </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td><b>Break Start</b></td>
					        <td><b>Break Close</b></td>
					        <td><b>Duration</b></td>
					        <td><b>Reason</b></td>
					      </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td>12.30 P.M</td>
					        <td>01.30 P.M</td>
					        <td>1 hr</td>
					        <td>Lunch</td>
					      </tr>
					      <tr>
					      	<td>&nbsp;</td>
					        <td>04.00 P.M</td>
					        <td>04.20 P.M</td>
					        <td>20 min</td>
					        <td>Tea</td>
					      </tr>
					      -->
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  	$(document).ready(function(){
   setInterval(function(){ 
   // toggle the class every five second
   $('.female').toggleClass('show');  
   setTimeout(function(){
     // toggle back after 1 second
     $('.female').toggleClass('hide');  
   },1000)

},1000);
	});
</script>
	</body>
</html>