<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Attendances</title>
</head>
<body>
    <form name="searchAttendance" method="post" action="/attendanceSearch">
        <table>
            <tr>
                <td><input type="text" name="employeeId" placeholder="Employee Id"></td>
                <td><input type="text" name="month" placeholder="Month"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search"></td>
            </tr>
        </table>
    </form>
    <table cellpadding="5" cellspacing="5">
        <tr>
            <td>Employee Id</td>
            <td>Working Date</td>
            <td>In Time</td>
            <td>Break Total Time</td>
            <td>Out Time</td>
            <td>Total Time</td>
            <td>Working Time</td>
        </tr>
        <tr th:each="attendance : ${attendances}">
            <td><h5 th:text="${attendance.employeeId}"></h5></td>
            <td><h5 th:text="${attendance.workingDate}"></h5></td>
            <td><h5 th:text="${attendance.inTime}"></h5></td>
            <td><h5 th:text="${attendance.breakTotaltime}"></h5></td>
            <td><h5 th:text="${attendance.outTime}"></h5></td>
            <td><h5 th:text="${attendance.totalTime}"></h5></td>
            <td><h5 th:text="${attendance.workingTime}"></h5></td>
        </tr>
    </table>
</body>
</html>