<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Code -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<div class="layout-wrapper inner-wrapper">
    <div class="container">
        <a href="https://hemrajinfocom.com/"><img src="images/logo.png" alt="Logo" class="logo"></a>
        <div class="details-holder">
            <h3>Employee Menu</h3>
            <ul>
                <li><a href="attendanceRegister">Daily Register</a></li>
                <li><a href="attendances">Attendance history</a></li>
                <li><a href="leave-application.html">Leave application</a></li>
                <li><a href="contact-admin.html">Contact admin</a></li>
                <li class="active"><a href="profile">My profile</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
            <h3 class="mrgn-tp30">My Profile</h3>
            <div class="employee-details">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="employee-photo">
                            <img src="images/img_avatar2.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="employee-personal-details">
                            <p>* Details that you provided by the time of your Registration.<br>
                                * Please feel free to contact System Administrator >> for any change.</p>
                            <div class="table-responsive">
                                <table class="table non-center">
                                    <tbody>
                                    <tr>
                                        <td>Your ID </td>
                                        <td><h5 th:text="${employee.id}"></h5></td>
                                    </tr>
                                    <tr>
                                        <td>First Name : </td>
                                        <td><h5 th:text="${employee.firstname}"></h5></td>
                                    </tr>
                                    <tr>
                                        <td>Last Name : </td>
                                        <td><h5 th:text="${employee.lastname}"></h5></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth : </td>
                                        <td><h5 th:text="${employee.dateofbirth}"></h5></td>
                                    </tr>
                                    <tr>
                                        <td>Address : </td>
                                        <td><h5 th:text="${employee.address}"></h5></td>
                                    </tr>
                                    <tr>
                                        <td>Phone No : </td>
                                        <td><h5 th:text="${employee.phoneno}"></h5></td>
                                    </tr>
                                    <tr>
                                        <td>Email Id : </td>
                                        <td><h5 th:text="${employee.emailid}"></h5></td>
                                    </tr>
                                    <tr>
                                        <td>User Name : </td>
                                        <td><h5 th:text="${employee.username}"></h5></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h3 class="mrgn-tp30">Profile</h3>
                            <p>Change Password</p>
                            <div class="col-sm-12">
                                <form>
                                    <input type="password" name="" placeholder="Old Password : ">
                                    <input type="password" name="" placeholder="New Password : ">
                                    <input type="password" name="" placeholder="Confirm New Password : ">
                                    <button class="sbmt-btn">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  	$(document).ready(function(){
   setInterval(function(){
   // toggle the class every five second
   $('.female').toggleClass('show');
   setTimeout(function(){
     // toggle back after 1 second
     $('.female').toggleClass('hide');
   },1000)

},1000);
	});
</script>
</body>
</html>