<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table cellspacing="5" cellpadding="5">
        <tr>
            <td>Break Start</td>
            <td>Break End</td>
            <td>Break Time</td>
        </tr>
        <tr th:each="break : ${breaks}">
            <td th:text="${break.breakStart}"></td>
            <td th:text="${break.breakEnd}"></td>
            <td th:text="${break.breakTime}"></td>
        </tr>
    </table>
</body>
</html>